@import "compass/css3";
@import "normalize";

$main-black: black;
$main-white: white;
$tab-content-count: 3;

html{
	background: white;
	font-size: 1em;
	line-height: 1.4;
	color: lighten($main-black,26.5%);
}
h1{
	font-size: 1.2em;
	color:black;
}
p{
	margin: 0;
}
p+p{
	margin-top: 1em;
}

input[type=radio]{
	display: none;
}

div.tab{
	padding: .8%;
	label{
		display: inline-block;
		border:1px solid $main-white;
	}
}

article{
	display: none;
}

label{
	background: darken($main-white, 25%);
	line-height: 1.8;
	padding: .3% .7%;
	text-align: center;
	cursor: pointer;
	color: darken($main-white, 60%);
	@include box-sizing(border-box);
	.no-touch &:hover{
		color: darken($main-white, 50%);
		background:darken($main-white, 18%);
	}
}
input[type=radio]{
	&:checked + label{
		background: darken($main-white, 40%);
		color: $main-white;
	}
}

%dpb{
	display: block;
}
@for $i from 1 through $tab-content-count {
	input#tab#{$i}:checked ~ div.tab-content-wrapper article.tab-#{$i}-content{
		@extend %dpb;
	}
}

@media only screen and (max-width: 768px){
	div.tab label.tab-link{
		display: block;
	}
}